header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	color: #fff;
	z-index: 11;
	transition: 0.3s ease-in-out;

	&.scroll {
		box-shadow: 0 0 1rem 0 rgba(#000, 0.32);
	}
}
.menu-ct {
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	transform: translateY(-100%);
	transition: all 0.7s ease-in-out 1s, visibility 0.5s linear 0.5s, z-index 0s linear 0.5s;
	transition-delay: 0.5s;
}

.btn-drop {
	padding: 1rem;
	background-color: white;
	border-radius: 5px;
	i {
		width: 5rem;
		font-size: 3rem;
	}
	color: $c3;
}

.menu-drop:focus .menu-ct,
.menu-drop:focus-within .menu-ct,
.menu-drop:hover .menu-ct {
  visibility: visible; 
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 1s;
  cursor: pointer;
}
.header {
	height: 11.5rem;
	margin: 0 auto;
	padding: 3rem 0;
	background: rgba(255, 255, 255, 0.1);
	position: relative;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.icon-menu {
	display: none;
}

.menu-ct {
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	top: 0;
	left: 0;
	.on-our-work {
		display: flex !important;
		transition: ease-in-out 2s !important;
		li {
			white-space: nowrap;
		}
	}
	// .our-work:hover ~ .el.el-page {
	// 	background-color: red !important;
	// 	display: flex !important
	// }

	.el-group {
		padding-top: 10.5555555% !important;
		margin: 0 auto;
		display: flex;
		margin-bottom: 2rem;
		.el-category {
			display: flex;
			flex-wrap: wrap;
			li{
				width: 100%;
				box-sizing: border-box;
				font-size: 3.9rem;
				display: inline-block;
				&:hover {
					color: $c3;
					cursor: pointer;
				}
			}
		}
		.active {
			color: $c3 !important;
		}
		.el-page {
			display: none;
			flex-wrap: wrap;
			li {
				width: 50%;
				box-sizing: border-box;
				font-size: 1.6rem;
				display: flex;
				align-items: center;
				a {
					&:hover {
						border-bottom: 1px solid $c2;
						cursor: pointer;
						white-space: nowrap;
					}
				}
			}
			
		}
	}
}

@media (max-width: 1199px) {
	.d-nav {
		display: none;
	}

	.icon-menu {
		display: block;
		width: 24px;
		position: relative;
		margin-left: 2rem;

		span {
			display: block;
			background-color: #fff;
			width: 100%;
			margin: 1.5px 0;
			border-radius: 3px;
			height: 2px;
			float: right;

			&:first-child {
				margin-top: 0;
			}

			&:nth-child(2n+1) {
				width: 18px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.act-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 5.2rem;
}

.menu {
	display: block;
	i {
		color: $c3;
		font-size: 3rem;
	}
}
.btn-main a {
	padding: 10% 4%;
}
.btn-main {
	cursor: pointer;
	width: 18rem;
	height: 4.9rem;
	border-radius: 10rem;
	color: #fff;
	font-size: 1.3rem;
	font-weight: 600;
	background-image: -webkit-linear-gradient(90deg, $c3 50%, transparent 50%);
	background-image: linear-gradient(90deg, $c3 50%, transparent 50%);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: 10%;
	-webkit-transition: background 500ms ease-in-out;
	transition: background 500ms ease-in-out;
	-webkit-transition: background 500ms ease-in-out;
	transition: background 500ms ease-in-out;
	&:hover{
		background-position: 100%;
		background-color: $c3;
	}
}

.btn-let-chat {
	order: 2;
	margin-left: auto;
}

.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	.img {
		position: relative;
		display: block;
		padding-top: 33.75%;
		width: 16rem;
		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			height: 100%;
		}
	}

}

@media (max-width: 768px) {
	.btn-main {
		width: 14rem;
		height: 4.2rem;
		font-size: 1.2rem;
	}
	.btn-drop i {
		width: 100% !important;
		padding-left: 1px !important;
	}
	.btn-let-chat {
		display: none !important;
	}
	.menu-ct {
		background-color: rgba(0, 0, 0, 0.9);
		.el-group {
			.el-category {
				li {
					font-size: 3rem !important;
				}
			}
			.el-page {
				li {
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.header {
		height: 8.5rem;
		padding: 2rem 0;
	}
	.act-header {
		padding: 0;
		.btn-main {
			width: 13rem;
			height: 4.2rem;
			font-size: 1rem;
		}
	}
	.logo {
		top: 36%;
		.img {
			width: 10rem;
		}
	}

}