body{
	margin-top: 11.5rem;
}
video {
    width: 100%;
    height: auto;
  }
.home-banner {
    width: 100%;
    position: relative;
    .img-index {
        padding-top: 51.177083333%;
        display: block;
        position: relative;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.2);
            pointer-events: none;
        }
    }
	.img{
        padding-top: 47.983310153%;
        display: block;
        position: relative;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.2);
            pointer-events: none;
        }
	}
    span {
        font-size: 1.6rem;
    }
}
.home-banner-color {
    margin-top: -0.7rem;
    width: 101%;
    position: relative;
	.img{
        padding-top: 35.972222222%;
        display: block;
        position: relative;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
	}
}
.content-banner {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    h1{
        font-size: 4.8rem;
        font-weight: bold;
        width: 55%;
        padding: 0;
        line-height: 117.4%;
    }
    p {
        margin-top: 2.7rem;
        font-size: 1.6rem;
        width: 54%;
        padding: 0;
        line-height: 196.9%;
        font-weight: 500;
    }
    &.content-banner-color{
        color: black;
    }
    .btn-view-work {
        text-align: start !important;
        padding-left: 5.2rem;
        background-color: hsla(0, 0, 0, 0) ;
        color: $c2;
        border: 1px solid $c2;
        margin: 3rem 0;
        cursor: pointer;
        border-radius: 10rem;
        color: #fff;
        font-weight: 600;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #FF6C0E), color-stop(50%, transparent));
        background-image: linear-gradient(90deg, hsla(0, 0, 0, 0)  50%, transparent 50%);
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: 10%;
        -webkit-transition: background 500ms ease-in-out;
        transition: background 500ms ease-in-out;
        -webkit-transition: background 500ms ease-in-out;
        transition: background 500ms ease-in-out;
        &:hover {
            // background-color: $c3;
            // -webkit-animation: shine .5s;
            // animation: shine .5s;
            background-position: 100%;
            background-color: #FF6C0E;
            border: none;
        }
    }
    .btn-about {
        margin-top: -5rem;
        text-align: end;
        .btn {
            font-size: 1.3rem !important;
        }
    }
}

.main-content {
    .ct-concert {
        margin-top: 4.8rem;
        margin-bottom: 4.8rem;
        span {
            font-size: 1.6rem;
            text-transform: uppercase;

        }
        h1 {
            font-weight: bold;
            font-size: 4.8rem;
            width: 30%;
            line-height: 117.4%;
        }
    }
    .slick-list .slick-slide {
        margin: 0 1rem !important;
    }
   
    .group-el {
        display: flex;
        justify-content: space-between;
        .item {
            position: relative;
            height: 47.6rem !important;
            width: 21.5rem !important;
            transition: ease-in-out 1s;
            &:nth-child(n + 2) {
                margin-left: 1rem;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.36);
                pointer-events: none;
            }
            .img {
                display: block;
                position: relative;
                // padding-top: 242.5%;
                height: 47.6rem !important;
                img {
                    cursor: pointer !important;
                    position: absolute;
                    top: 0;                    
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .ct {
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 1s ease-in-out;
                text-align: center;
                z-index: 2;
                .fix-padding {
                    margin-left: -1rem;
                }
                h1 {
                    font-weight: bold;
                    font-size: 2.4rem;
                    white-space: nowrap;
                    transform-origin: top left;
                    transform: rotate(-90deg);
                    color: $c2;
                    width: 15rem;
                    margin-top: -6rem;
                }
                img {
                    display: initial;
                }
                button {
                    display: none;
                    color: $c2;
                    border-bottom: 1px solid $c2;
                    font-size: 1.6rem;
                }
            }
            &:hover {
                width: 83.3rem !important;
                > .img {
                    width: 83.3rem !important;
                    img {
                        height: 100%;
                        width: 100%;
                        transition: ease-in-out 1s;
                    }
                }
                transition-delay: 0.1s;
                .ct {
                    position: absolute;
                    top: 80%;
                    left: 20%;
                    transform: translate(-50%, -50%);
                    text-align: start;
                    h1 {
                        font-weight: bold;
                        font-size: 2.4rem;
                        white-space: nowrap;
                        transform: rotate(0deg);
                        color: $c2;
                        width: auto;
                        margin-top: 0rem;
                    }
                    img {
                        display: inline;
                    }
                    button {
                        display: inline;
                        color: $c2;
                        &:hover {
                            border-bottom: 1px solid $c3;
                        }

                    }
                }
            }
        }
        &:hover .item:not(:hover) {
            width: 16rem !important;
            height: 47.6rem !important;
            transition: ease-in-out 2s;
            .ct {
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 1s ease-in-out;
                text-align: center;
                z-index: 2;
                .fix-padding {
                    margin-left: -1rem;
                }
                h1 {
                    font-weight: bold;
                    font-size: 2rem;
                    white-space: nowrap;
                    transform-origin: top left;
                    transform: rotate(-90deg);
                    color: $c2;
                    width: 15rem;
                    margin-top: -6rem;
                    margin-left: 6rem;
                }
                img {
                    display: initial;
                    width: 8rem !important;
                }
                button {
                    display: none;
                    color: $c2;
                    border-bottom: 1px solid $c2;
                    font-size: 1.6rem;
                }
            }
        }
    }
}


.ct-client {
    .title {
        h1 {
            font-weight: bold;
            font-size: 4.8rem;
        }
        margin-top: 13rem;
        margin-bottom: 6.5rem;
    }
        .item {
            display: flex;
            justify-content: center;
            &:hover{
                cursor: pointer;
            }
        }
}

.cas-multi-client {
    .slick-track {
        display: flex;
        align-items: center;
    }
}

.ct-product {
    margin-top: 13rem;
    margin-bottom: 6.5rem;
    h1 {
        font-weight: bold;
        font-size: 4.8rem;
        margin-bottom: 6.5rem;
    }
    .ct {
        display: flex;
        justify-content: space-between;
        width: 40%;
        align-items: center;
        .item{
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.ct-more {
    position: relative;
    .img {
        display: block;
        position: relative;
        padding-top: 17.659279778%;
        width: 101%;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    .ct {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .item {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .el {
                span {
                    font-size: 2.8rem;
                    font-weight: bold;
                    display: block;
                    transition: 1s ease-in-out;
                }
                button {
                    height: 3rem;
                    width: 15rem;
                    text-align: end;
                    transition: 1s ease-in-out;
                    i {
                        font-size: 4.5rem;
                    }
                }
            }
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.54);
            pointer-events: none;
            z-index: 1;
            opacity: 0;
            transition: 1s ease-in-out;
        }
        &:hover {
            position: relative;
            &::before {
                opacity: 1;
                transition: 1s ease-in-out;
            }
            cursor: pointer;
            .el {
                z-index: 2;
                span {
                    color: $c2;
                    transition: 1s ease-in-out;
                }
                button {
                    transition: 1s ease-in-out;
                    color: $c2;
                }
            }
        }
        }
        
    }
}

.learn-more {
    // height: 31.8rem;
    background: $c3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    &.learn-more-gtr {
        .ct {
            width: 66rem !important;
        }
    }
    &:hover {
        h1 {
            color: $c2;
        }
    }
    .ct {
        width: 58.9rem;
        padding: 10rem 0;
        h1 {
            font-size: 4.8rem;
            font-weight: bold;
            
        }
        button {
            color: $c2;
            i {
                font-size: 4.5rem;
            }
        }
    }
}

@media (max-width: 1420px) {
    .content-banner-color {
        .btn-about {
            margin-top: 0rem;
            margin-right: 10rem;
        }
    }
}


@media (max-width: 1300px) {
    .col-lg-8 {
        max-width: 80%;
    }
    .content-banner h1 {
        width: 100%;
    }
    .content-banner-color {
        h1 {
            width: auto;
            padding: 0;
        }
        p {
            width: auto;
            padding: 0;
        }
        .btn-about {
            margin-top: 0rem;
        }
    }
    .main-content .ct-concert h1 {
        width: 41%;
    }
}

@media (max-width: 1190px) {
    .main-content {
        .ct-concert {
            margin-top: 4.8rem;
            margin-bottom: 4.8rem;
            span {
                font-size: 1.6rem;
                text-transform: uppercase;
    
            }
            h1 {
                font-weight: bold;
                font-size: 4.8rem;
                width: 30%;
                line-height: 117.4%;
            }
        }
        .slick-list .slick-slide {
            margin: 0 1rem !important;
        }
       
        .group-el {
            .item {
                height: 40.6rem !important;
                > .img {
                    height: 40.6rem;
                    img {
                        height: 40.6rem;
                        width: 100%;
                    }
                }
                &:hover {
                    width: 60.3rem !important;
                    > .img {
                        width: 60.3rem !important;
                        height: 40.6rem;
                        img {
                            height: 40.6rem;
                            width: 100%;
                        }
                    }
                    .ct {
                        top: 80%;
                        left: 40%;
                    }
                }
            }
            &:hover .item:not(:hover) {
                width: 16rem !important;
                height: 40.6rem !important;
                > .img {
                    height: 40.6rem;
                    img {
                        height: 40.6rem;
                        width: 100%;
                    }
                }
                .ct {
                    top: 90%;
                    left: 50%;
                    .fix-padding {
                        margin-left: -1rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .col-lg-8 {
        max-width: 90%;
    }
    .content-banner {
        h1 {
            font-size: 3.8rem;
            width: auto;
            padding: 0;
        }
        p {
            width: auto;
            padding: 0;
        }
        .btn-about {
            margin-top: 0rem;
        }
    }
    .ct-concert {
        h1 {
            width: auto !important;
        }
    }

    .menu-ct {
        .el-category {
            width: 50%;
        }
    }

    .learn-more {
        .ct {
            width: 58.9rem !important;
            padding: 3rem 0;
            h1 {
                font-size: 4.8rem;
                font-weight: bold;
                
            }
            button {
                color: $c2;
            }
        }
    }
}

@media (max-width: 760px) {
    h1 {
        font-size: 3rem !important;
    }
    .content-banner h1 {
        width: 100% !important;
    }
    .menu-ct {
        .el-category {
            width: 100%;
        }
    }
    .container-home {
        padding: 0;
    }
    .content-banner {
        h1 {
            font-size: 3rem !important;
        }
    }
    .title   {
        margin-top: 4rem !important;
        margin-bottom: 2rem !important;
    }
    .ct-product {
        .ct {
            .item {
                width: 50% !important;
                img {
                    width: 80% !important;
                }
            }
        }
        margin-top: 4rem !important;
        margin-bottom: 2rem !important;
        h1 {
            margin-bottom: 2.5rem;
        }
    }
    .learn-more {
        .ct {
            width: 38.9rem !important;
            padding: 3rem 0;
            h1 {
                font-size: 4.8rem;
                font-weight: bold;
                
            }
            button {
                color: $c2;
            }
        }
    }
    .content-banner {
        h1 {
            width: 70%;
            padding: 0;
        }
        img {
            width: 60%;
        }
        p {
            margin-top: 1rem !important;
        }
    }

    .main-content {
        .group-el {
            
            .item {
                &:nth-child(n + 2) {
                    margin-left: 0.2rem;
                }
                height: 30rem !important;
                > .img {
                    height: 30rem;
                    img {
                        height: 30rem;
                        width: 100%;
                    }
                }
                .ct {
                    h1 {
                        font-size: 1.8rem !important;
                        width: 6rem;
                        margin-top: -3rem;
                    }
                    img {
                        width: 8rem !important;
                    }
                }
                &:hover {
                    width: 40.3rem !important;
                    > .img {
                        width: 40.3rem !important;
                        height: 30rem;
                        img {
                            height: 30rem;
                            width: 100%;
                        }
                    }
                    .ct {
                        top: 80%;
                        left: 40%;
                    }
                }
            }
            &:hover .item:not(:hover) {
                width: 16rem !important;
                height: 30rem !important;
                > .img {
                    height: 30rem;
                    img {
                        height: 30rem;
                        width: 100%;
                    }
                }
                .ct {
                    display: none !important;
                    top: 90%;
                    left: 50%;
                    .fix-padding {
                        margin-left: -1rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    body {
        margin-top: 8.5rem;
    }
    .container-home {
        padding: 0 5rem ;
    }
    .content-banner {
        h1 {
            font-size: 2rem !important;
        }
    }

    .home-banner-color {
        .img {
            padding-top: 55.972222%;
            img {
                height: 25rem !important;
            }
        }
        .content-banner {
            .btn-about {
                margin-top: -1rem;
                margin-right: 0rem !important;
            }
            h1 {
                width: 100%;
            }
            p {
                line-height: 140%;
            }
        } 
    }
    .ct-more  {
        span {
            font-size: 2rem !important;
        }
        i {
            font-size: 2rem !important;
            margin-right: 2rem !important;
        }
    }
    .ct-product .ct {
        width: 90%;
    }
}